body {
	direction: rtl;
}


nav ul {
	padding: 0;
}

nav ul li {
	display: inline-block;
	background-color: green;
	width: 80px;
	height: 40px;
	padding: 5px 0;
	color: white;
	cursor: pointer;
	margin-right: 5px;
	text-align: center;
}

#movie-list {
	border-bottom: solid 2px blue;
	width: 200px;
}


#movie-list h2, #movie-list p {
	text-align: center;
}

#movie-list img {
	position:relative;
	right: 40px;
	width: 100px;
	margin: 0 auto;
}

#movie-list:first-child {
	border-top: solid 2px blue;
}

.control {
	border: double 3px red;
	width: 45%;
	float: right;
	margin: 3px;
}

.mov {
	border-top: solid 2px blue;
}
